@import '~vuetify/src/styles/styles.sass';


body {
  font-family: 'aasaam-Noto', sans-serif !important;
}
.v-application {
  font-family: 'aasaam-Noto' !important;
}
.vpd-wrapper {
  font-family: 'aasaam-Noto', sans-serif !important;
}
